In [1]:
%load_ext sql

In [2]:
from decouple import config
import pandas as pd

In [3]:
host = config('HOST')
database = config('SQL_DATABASE')
user = config('SQL_USER')
password = config('SQL_PASSWORD')

In [4]:
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [5]:
%sql $connection_string

In [6]:
store_cities = %sql SELECT * FROM store_cities
store_cities_df = store_cities.DataFrame()
store_cities_df.info()

 * postgresql://postgres:***@localhost/sales
144 rows affected.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      144 non-null    object
 1   storetype_id  144 non-null    object
 2   store_size    144 non-null    float64
 3   city_id       144 non-null    object
dtypes: float64(1), object(3)
memory usage: 4.6+ KB

In [7]:
product = %sql SELECT * FROM product
product_df = product.DataFrame()
product_df.info()

 * postgresql://postgres:***@localhost/sales
699 rows affected.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      699 non-null    object
 1   product_length  681 non-null    float64
 2   product_depth   683 non-null    float64
 3   product_width   683 non-null    float64
 4   cluster_id      649 non-null    object
 5   hierarchy1_id   699 non-null    object
 6   hierarchy2_id   699 non-null    object
 7   hierarchy3_id   699 non-null    object
 8   hierarchy4_id   699 non-null    object
 9   hierarchy5_id   699 non-null    object
dtypes: float64(3), object(7)
memory usage: 54.7+ KB

In [8]:
# sales = %sql SELECT * FROM sales
# sales_df = sales.DataFrame()
# sales_df.info()

In [9]:
# sales_df.to_pickle('sales_df.pickle')
# del sales_df

In [10]:
loaded_sales_df = pd.read_pickle('sales_df.pickle')
loaded_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19454838 entries, 0 to 19454837
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   product_id             object
 1   store_id               object
 2   date                   object
 3   sales                  float64
 4   revenue                float64
 5   stock                  float64
 6   price                  float64
 7   promo_type_1           object
 8   promo_bin_1            object
 9   promo_type_2           object
 10  promo_bin_2            object
 11  promo_discount_2       object
 12  promo_discount_type_2  object
dtypes: float64(4), object(9)
memory usage: 1.9+ GB

## Average Revenue

### 1.0 Average revenue for all the stores

In [11]:
avg_revenue = %sql SELECT CAST(AVG(revenue) AS DECIMAL (5,2)) FROM sales
avg_revenue
# avg_revenue = round(avg_revenue, 2)

 * postgresql://postgres:***@localhost/sales
1 rows affected.

[(Decimal('2.06'),)]

### 2.0 Average revenue for individual stores

In [12]:
avg_revenue_by_store = %sql SELECT store_id, CAST(AVG(revenue) AS DECIMAL (5,2)) FROM sales GROUP BY store_id
avg_revenue_by_store

 * postgresql://postgres:***@localhost/sales
144 rows affected.

[('S0001', Decimal('3.18')),
 ('S0002', Decimal('2.12')),
 ('S0003', Decimal('1.90')),
 ('S0004', Decimal('1.37')),
 ('S0005', Decimal('1.49')),
 ('S0006', Decimal('0.89')),
 ('S0007', Decimal('1.74')),
 ('S0008', Decimal('1.38')),
 ('S0009', Decimal('0.94')),
 ('S0010', Decimal('2.67')),
 ('S0011', Decimal('1.60')),
 ('S0012', Decimal('1.09')),
 ('S0013', Decimal('1.57')),
 ('S0014', Decimal('2.28')),
 ('S0015', Decimal('2.68')),
 ('S0016', Decimal('1.45')),
 ('S0017', Decimal('2.04')),
 ('S0018', Decimal('1.74')),
 ('S0019', Decimal('1.47')),
 ('S0020', Decimal('4.14')),
 ('S0021', Decimal('1.54')),
 ('S0022', Decimal('2.43')),
 ('S0023', Decimal('1.67')),
 ('S0024', Decimal('2.33')),
 ('S0025', Decimal('1.27')),
 ('S0026', Decimal('4.95')),
 ('S0027', Decimal('1.18')),
 ('S0028', Decimal('3.00')),
 ('S0029', Decimal('1.98')),
 ('S0030', Decimal('0.75')),
 ('S0031', Decimal('1.86')),
 ('S0032', Decimal('1.34')),
 ('S0033', Decimal('1.41')),
 ('S0034', Decimal('1.07')),
 ('S0035', Decimal('1.42')),
 ('S0036', Decimal('1.58')),
 ('S0037', Decimal('1.72')),
 ('S0038', Decimal('3.08')),
 ('S0039', Decimal('1.22')),
 ('S0040', Decimal('2.14')),
 ('S0041', Decimal('0.92')),
 ('S0042', Decimal('1.91')),
 ('S0043', Decimal('1.48')),
 ('S0044', Decimal('1.36')),
 ('S0045', Decimal('0.90')),
 ('S0046', Decimal('1.59')),
 ('S0047', Decimal('2.36')),
 ('S0048', Decimal('2.47')),
 ('S0049', Decimal('1.55')),
 ('S0050', Decimal('1.19')),
 ('S0051', Decimal('2.60')),
 ('S0052', Decimal('1.28')),
 ('S0053', Decimal('1.70')),
 ('S0054', Decimal('1.57')),
 ('S0055', Decimal('1.03')),
 ('S0056', Decimal('2.20')),
 ('S0057', Decimal('0.75')),
 ('S0058', Decimal('1.74')),
 ('S0059', Decimal('1.75')),
 ('S0060', Decimal('1.21')),
 ('S0061', Decimal('1.98')),
 ('S0062', Decimal('4.85')),
 ('S0063', Decimal('0.96')),
 ('S0064', Decimal('1.15')),
 ('S0065', Decimal('2.65')),
 ('S0066', Decimal('1.62')),
 ('S0067', Decimal('1.75')),
 ('S0068', Decimal('0.95')),
 ('S0069', Decimal('2.43')),
 ('S0070', Decimal('1.20')),
 ('S0071', Decimal('1.40')),
 ('S0072', Decimal('2.22')),
 ('S0073', Decimal('1.12')),
 ('S0074', Decimal('2.54')),
 ('S0075', Decimal('2.08')),
 ('S0076', Decimal('2.54')),
 ('S0077', Decimal('1.06')),
 ('S0078', Decimal('1.04')),
 ('S0079', Decimal('2.06')),
 ('S0080', Decimal('3.30')),
 ('S0081', Decimal('1.76')),
 ('S0082', Decimal('1.55')),
 ('S0083', Decimal('0.80')),
 ('S0084', Decimal('2.14')),
 ('S0085', Decimal('6.63')),
 ('S0086', Decimal('0.67')),
 ('S0087', Decimal('1.44')),
 ('S0088', Decimal('0.96')),
 ('S0089', Decimal('0.71')),
 ('S0090', Decimal('0.99')),
 ('S0091', Decimal('1.29')),
 ('S0092', Decimal('1.36')),
 ('S0093', Decimal('1.02')),
 ('S0094', Decimal('1.94')),
 ('S0095', Decimal('5.81')),
 ('S0096', Decimal('1.61')),
 ('S0097', Decimal('5.34')),
 ('S0098', Decimal('2.12')),
 ('S0099', Decimal('1.14')),
 ('S0100', Decimal('2.65')),
 ('S0101', Decimal('2.41')),
 ('S0102', Decimal('1.34')),
 ('S0103', Decimal('1.60')),
 ('S0104', Decimal('2.51')),
 ('S0105', Decimal('1.65')),
 ('S0106', Decimal('1.91')),
 ('S0107', Decimal('1.13')),
 ('S0108', Decimal('1.78')),
 ('S0109', Decimal('1.33')),
 ('S0110', Decimal('2.39')),
 ('S0111', Decimal('1.74')),
 ('S0112', Decimal('4.02')),
 ('S0113', Decimal('1.59')),
 ('S0114', Decimal('1.15')),
 ('S0115', Decimal('3.43')),
 ('S0116', Decimal('1.77')),
 ('S0117', Decimal('1.52')),
 ('S0118', Decimal('1.65')),
 ('S0119', Decimal('1.29')),
 ('S0120', Decimal('0.77')),
 ('S0121', Decimal('2.03')),
 ('S0122', Decimal('1.10')),
 ('S0123', Decimal('1.48')),
 ('S0124', Decimal('1.64')),
 ('S0125', Decimal('1.58')),
 ('S0126', Decimal('1.73')),
 ('S0127', Decimal('0.87')),
 ('S0128', Decimal('2.55')),
 ('S0129', Decimal('1.78')),
 ('S0130', Decimal('0.56')),
 ('S0131', Decimal('1.16')),
 ('S0132', Decimal('1.54')),
 ('S0133', Decimal('1.66')),
 ('S0134', Decimal('2.05')),
 ('S0135', Decimal('1.08')),
 ('S0136', Decimal('1.60')),
 ('S0137', Decimal('1.26')),
 ('S0138', Decimal('2.10')),
 ('S0139', Decimal('1.22')),
 ('S0140', Decimal('1.29')),
 ('S0141', Decimal('0.73')),
 ('S0142', Decimal('0.98')),
 ('S0143', Decimal('0.86')),
 ('S0144', Decimal('0.92'))]

### 3.0 Average revenue for select store

### One store_id

In [13]:
%%sql store_avg_revenue << SELECT * 
FROM(SELECT store_id, CAST(AVG(revenue) AS DECIMAL (5,2)) 
FROM sales GROUP BY store_id) AS result 
WHERE result.store_id = 'S0100'

 * postgresql://postgres:***@localhost/sales
1 rows affected.
Returning data to local variable store_avg_revenue

In [14]:
store_avg_revenue

[('S0100', Decimal('2.65'))]

### Two store_ids

In [15]:
select_store_id = ('S0100', 'S0101')

In [16]:
%%sql select_store_avg_revenue << SELECT * 
FROM(SELECT store_id, CAST(AVG(revenue) AS DECIMAL (5,2)) 
FROM sales GROUP BY store_id) AS result 
WHERE result.store_id IN {select_store_id}

 * postgresql://postgres:***@localhost/sales
2 rows affected.
Returning data to local variable select_store_avg_revenue

In [17]:
select_store_avg_revenue

[('S0100', Decimal('2.65')), ('S0101', Decimal('2.41'))]

### Range of store_ids selected from table

In [18]:
%%sql select_range_store_avg_revenue << SELECT * 
FROM(SELECT store_id, CAST(AVG(revenue) AS DECIMAL (5,2)) 
FROM sales GROUP BY store_id) AS result 
WHERE result.store_id BETWEEN 'S0140' AND 'S0144'

 * postgresql://postgres:***@localhost/sales
5 rows affected.
Returning data to local variable select_range_store_avg_revenue

In [19]:
select_range_store_avg_revenue

[('S0140', Decimal('1.29')),
 ('S0141', Decimal('0.73')),
 ('S0142', Decimal('0.98')),
 ('S0143', Decimal('0.86')),
 ('S0144', Decimal('0.92'))]

In [20]:
%%sql revenue_by_city_id << SELECT store_cities.city_id, sales.revenue
FROM sales 
INNER JOIN store_cities ON sales.store_id=store_cities.store_id

 * postgresql://postgres:***@localhost/sales
19454838 rows affected.
Returning data to local variable revenue_by_city_id

In [21]:
revenue_by_city_id_df = revenue_by_city_id.DataFrame()
revenue_by_city_id_df.head()

  city_id  revenue
0    C007     0.00
1    C005     5.30
2    C026    10.59
3    C008     0.00
4    C024     0.00

In [22]:
len(revenue_by_city_id_df['city_id'].unique())

37

In [23]:
%%sql total_revenue_by_city_id << SELECT city_id, CAST(SUM(revenue) AS DECIMAL (10,2)) 
FROM sales 
INNER JOIN store_cities ON sales.store_id=store_cities.store_id
GROUP BY city_id

 * postgresql://postgres:***@localhost/sales
37 rows affected.
Returning data to local variable total_revenue_by_city_id

In [47]:
total_revenue_by_city_id_df = total_revenue_by_city_id.DataFrame()
total_revenue_by_city_id_df.head()

  city_id         sum
0    C001   223137.25
1    C002   680987.33
2    C003   103252.45
3    C004  1027630.08
4    C005   417360.83

In [37]:
total_revenue_by_city_id_df[
    total_revenue_by_city_id_df['sum'] == 
    total_revenue_by_city_id_df['sum'].max()
    ]

   city_id          sum
13    C014  12760439.56

In [45]:
%%sql city_max_revenue << SELECT city_id, CAST(SUM(revenue) AS DECIMAL (10,2)) 
FROM sales 
INNER JOIN store_cities ON sales.store_id=store_cities.store_id
GROUP BY city_id
ORDER BY sum DESC
LIMIT 1

 * postgresql://postgres:***@localhost/sales
1 rows affected.
Returning data to local variable city_max_revenue

In [46]:
city_max_revenue

[('C014', Decimal('12760439.56'))]

In [52]:
%%sql total_revenue_by_product_id << SELECT sales.product_id, CAST(SUM(revenue) AS DECIMAL (10,2)) 
FROM sales 
INNER JOIN product ON sales.product_id=product.product_id
GROUP BY sales.product_id

 * postgresql://postgres:***@localhost/sales
649 rows affected.
Returning data to local variable total_revenue_by_product_id

In [53]:
total_revenue_by_product_id_df = total_revenue_by_product_id.DataFrame()
total_revenue_by_product_id_df.head()

  product_id       sum
0      P0001  21128.44
1      P0002   9776.39
2      P0004   1631.29
3      P0005  25408.62
4      P0006   2550.17

In [54]:
total_revenue_by_product_id_df[
    total_revenue_by_product_id_df['sum'] == 
    total_revenue_by_product_id_df['sum'].max()
    ]

   product_id         sum
92      P0103  2670199.66

In [69]:
%%sql product_max_revenue << SELECT *
FROM(SELECT sales.product_id, CAST(SUM(revenue) AS DECIMAL (10,2)) 
FROM sales 
INNER JOIN product ON product.product_id=sales.product_id
GROUP BY sales.product_id
ORDER BY sum DESC) AS result
WHERE result.sum IS NOT NULL
LIMIT 1

 * postgresql://postgres:***@localhost/sales
1 rows affected.
Returning data to local variable product_max_revenue

In [70]:
product_max_revenue

[('P0103', Decimal('2670199.66'))]